* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
*::-webkit-scrollbar {
	width: .5rem;
}
*::-webkit-scrollbar-track {
	background: white;
}
*::-webkit-scrollbar-thumb {
	background: #e43c5c;
}
html {
	scroll-behavior: smooth;
}
body {
	color: $gray-color;
	transition: all .3s;
	font-family: poppins;
}
.row {
	text-align: center;
	margin-top: 4rem !important;
}